* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

@media (max-width: 768px) {
  .talent-sidebar {
    margin-left: 0;
  }
}

body {
  background-color: #f0f2f5;
}
